.layout_meal_menu{

    flex-grow: 1;
.meal_page{
//     width: 90%;
//     display: flex;
//     justify-content: space-between;
// flex-direction: column;
// margin: 0 0 0 30px;
// flex-grow: 1;

.meal_menu{
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 130px;
}
}

}


@media(max-width: 1000px){
    .layout_meal_menu{
        .meal_page{
    .meal_menu{
    grid-template-columns: repeat(2,1fr);

    }            
        }
    }

}
@media(max-width: 800px){
    .layout_meal_menu {
        margin: auto;
        .meal_page{
            .meal_menu{
                margin-bottom: 33px;
            }
        }
    }

}
@media(max-width: 500px){
    .layout_meal_menu {

        .meal_page{
            .meal_menu{
                grid-template-columns: repeat(1, 1fr);            }
        }
    }

}
